body {
  background-color: whitesmoke;
}
/* 
#logoDiv {
  display: flex;
  justify-content: center;
  margin:0 auto;
  align-items: center;
} */

.svgLogo {
  justify-content: center;
  max-width: 50%;
}

.cards {
  display: flex;
  border-radius: 10px;
  background-color: black;
  opacity: 80%;
  margin: 20px;
  margin-top: 10%;
  min-width: 20%;
  box-shadow: rgba(240, 46, 46, 0.342) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px,
    rgba(240, 46, 46, 0.2) 15px 15px, rgba(240, 46, 46, 0.1) 20px 20px,
    rgba(240, 46, 46, 0.05) 25px 25px;
}

button {
  cursor: pointer;
}

.video {
  justify-content: center;
  align-items: center;
}

.video-start-btn {
  padding: 3%;
  font-size: 1.2rem;
  border-radius: 5px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.invert {
  animation-name: invertSlow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.light {
  background-color: whitesmoke;
  transition: background-color 2s;
  color: black;
}

.dark {
  background-color: rgb(20, 20, 20);
  transition: background-color 2s;
  color: white;
}

.timer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.timerContainer {
  display: flex;
}

h2 {
  color: rgb(109, 0, 0);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 5px;
}

/* video modal */
.video-dropdown {
  display: flex;
  flex-direction: column;
  /* border: 3px solid rgb(109,0,0); */
  border-radius: 5px;
}

/* video iframe css */
.video-container {
  /* width: 853px;
  height: 531.25px; */
  width: 63%;
  border: 1px solid rgb(70, 70, 70);
  background-color: #844747;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  box-shadow: 5px 10px #502929,
  0 0 0 99999px rgba(0, 0, 0, .5);
  z-index: 3;
}

.back-to-main {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1%;
}

.memo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
  margin-top: 1%;
}

.memo button {
  font-size: 1.2rem;
  padding: 1%;
  margin: 0.2%;
  border-radius: 5px;
  background-color: rgb(42, 48, 13);
  color: #fff;
}

#back-to-main-btn {
  padding: 1%;
  border-radius: 5px;
  background-color: rgb(235, 235, 151);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.mainButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 200px;
  min-width: 80%;
  padding-top: 7%;
}

#dark_mode {
  display: inline-block;
  width: 30px;
}

/* news styling */
.news-wrapper div {
  font-size: 1.3rem;
  padding-left: 30px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1300px) {
  .mainButtons {
    flex-direction: column;
    justify-content: center;
    min-width: 0%;
    align-items: center;
  }
}

#settingsCog {
  max-width: 50px;
  text-align: left;
}

/* #settingsCog.invert:hover {
  filter:invert(100);
} */
/* 
#settingsCog:hover {
  animation-name: largen;
  animation-duration:0.25s;
  animation-fill-mode:forwards;
} */

#news:hover {
  animation-name: largen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#music:hover {
  animation-name: largen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#video:hover {
  background-blend-mode: luminosity;
  animation-name: largen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes largen {
  to {
    transform: scale(1.2);
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

@keyframes invertSlow {
  from {
    filter: invert(0);
  }

  to {
    filter: invert(100);
  }
}

.videoBackgrounds {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.fadeIn {
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.opacity {
  opacity: 50%;
}

.listPreferences {
  display: inline;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(114, 0, 0);
  font-size: 20px;
  margin: 5px;
  padding: 3px;
}

.listPreferences a {
  color: whitesmoke;
  text-decoration: none;
}

/***** Song related css ****/
/* Song preference */

.music-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0;
  opacity: 95%;
  width: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;

  border-radius: 5px 5px 0px 0px;
  background-color: #844747;
  color: white;
  opacity: 95%;
}

/* Holds space to make sure content scrolls all the way up */
.music-footer-hold {
  height: 130px;
  width: 400px;
  display: block;
}

.next-song {
  height: 95%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  font-size: 1.2em;
  min-width: 45px;
  justify-content: center;
}

.next-song:hover {
  cursor: pointer;
  opacity: 0.6;
  font-size: 1.5em;
}

.prev-song {
  height: 95%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.3s;
  font-size: 1.2em;
  min-width: 45px;
  justify-content: center;
}

.prev-song:hover {
  cursor: pointer;
  opacity: 0.6;
  font-size: 1.5em;
}

.song-recommendations {
  display: flex;
  align-items: center;
  height: 95%;
  width: 100%;
}

.song-recommendations ul {
  width: 100%;
  padding: 0;
}

.song-recommendations ul {
  list-style-type: none;
}

.music-footer.dark {
  background-color: black;
  color: white;
}

.music-footer.light {
  background-color: white;
  color: black;
}

.song h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.song {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.song h5 {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: lighter;
}

.song h4 {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: normal;
}

.song-hidden {
  display: none;
}

.song-details {
  text-align: left;
}

.spotify-open {
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 1em;
}

.play-song {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 3em; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.song-image {
  margin-right: 0.7em;
  height: 4em;
}
.spotify-open .spotify-logo {
  height: 1em;
  margin-right: 0.2em;
  margin-top: 0.1em;
}

.song-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.volume-container {
  margin-left: 1em;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

#volume-icon {
  display: inline-block;
  width: 1.5em;
  justify-content: left;
}

.song-volume {
  display: block;
  width: 100%;
  margin-left: 0.5em;
  margin-right: 1em;
}

.ui-slider .ui-slider-handle {
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  justify-content: center;
  background-color: darkred;
  border-radius: 100%;
}

.ui-slider-range {
  border: 1px solid white;
  background: darkred;
}

.select-player {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spotify-devices {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

.spotify-devices li {
  border-bottom: 2px solid rgb(109, 0, 0);
  border-left: 2px solid rgb(109, 0, 0);
  border-right: 2px solid rgb(109, 0, 0);
  width: 100%;
  padding: 0.5em;
}

.spotify-devices li:first-child {
  border-top: 2px solid rgb(109, 0, 0);
}

li.player-select-heading {
  border-left: none;
  border-right: none;
}
.device-option:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-style: italic;
  display: block;
  margin-bottom: 0.5em;
}

#menuIcon {
  display: inline-flex;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 70px;
  opacity: 80%;
}

#menuIcon:hover {
  opacity: 100%;
  cursor: pointer;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor:pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.parentNav {
  display: flex;
  justify-content: center;
}

@keyframes filling {
  from {
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container-text {
  background-image: url(https://cdn.pixabay.com/photo/2017/03/28/18/11/mountains-2182894_960_720.jpg);
  --webkit-text-fill-color: transparent;
  --webkit-background-clip: text;
  color: #ffffff;
  padding-top: 20px;
  font-size: 170px;
  font-family: "Poppins", sans-serif;
  animation: filling 3s ease forwards;
}

.mtt {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.video-dropdown select {
  margin-top: 10px;
  background-color: rgb(59, 57, 57);
  color: white;
  border-radius: 5px;
}

/* p {
  font-size: 50px;
} */

.profileCardsMain {
  display: flex;
  margin: 80px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.photoCards {
  border-radius: 50%;
  width: 300px;
  padding: 50px;
}

.profileCards {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.photoCardEnlargen {
  animation-name: photoCardEnlargen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes photoCardEnlargen {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes photoCardSmallen {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.photoCardSmallen {
  animation-name: photoCardSmallen;
  animation-duration:1s;
  animation-fill-mode: forwards;
}

.mtt h3 {
  text-align: center;
  margin:0 auto;
}

@media only screen and (max-width: 1221px) {
  .mtt h3 {
    font-size: 100px;
  }
}

.photoCards p {
  font-size: 20px;
}

.new{
      width: 63%;
    border: 1px solid rgb(70, 70, 70);
    background-color: #844747;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 5px 10px #502929;
}

#newsResults{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.news-card{
  width: 30%;
  margin-left: 2%;
  height:20em;
  margin-bottom: 0.8em;

  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

@media screen and (max-width: 1024px) {
  .news-card{
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .news-card{
    width: 90%;
  }
}

.news-card img{
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.news-card h3{
  font-size:1.2em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  text-overflow: ellipsis;
  overflow: hidden ;
  white-space: nowrap;
}

.news-card p{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; 
}

.news-container {
  width: 100%;
}

.news-source-date{
  color: darkgrey;
  font-size: 0.8em;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}

.news-date {
  font-style: italic;
}

.ui-tabs .ui-tabs-active 
{
background: darkred;
border: darkred;
}

#volume-icon:hover{
  cursor: pointer;
}

.news-card:hover{
  cursor: pointer;
}
#news-article{
  display: block;
  text-align: center;
  flex-direction: column;
}
#news-iframe{
  display: block;
  width: 100%;
  height: 400px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__option {
  color: black;
}