head {
}

body {
  background-color: whitesmoke;
}

#logoDiv {
  display: flex;
  justify-content: center;
}

.svgLogo {
  margin: 10px;
}

.cards {
  display: flex;
  border-radius: 10px;
  background-color: black;
  opacity: 80%;
  margin: 20px;
  margin-top: 10%;
  min-width: 20%;
  box-shadow: rgba(240, 46, 46, 0.342) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px,
    rgba(240, 46, 46, 0.2) 15px 15px, rgba(240, 46, 46, 0.1) 20px 20px,
    rgba(240, 46, 46, 0.05) 25px 25px;
}

button {
  cursor: pointer;
}

.video {
  justify-content: center;
  align-items: center;
}

.video-start-btn {
  padding: 3%;
  font-size: 1.2rem;
  border-radius: 5px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.mainCard {
}

.ldMode {
  text-align: right;
  position: relative;
  transform: translateY(-90px);
}

.light {
  background-color: whitesmoke;
  transition: background-color 2s;
}

.dark {
  background-color: rgb(20, 20, 20);
  transition: background-color 2s;
}

.logoTransition {
}

.timer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
}

.timerContainer {
  display: flex;
}

h2 {
  color: whitesmoke;
}

/* video modal */
.video-dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* video iframe css */
.video-container {
  /* width: 853px;
  height: 531.25px; */
  width: 63%;
  border: 1px solid black;
  position: absolute;
  display: none;
}

.back-to-main {
  font-size: 1.2rem;
  text-align: center;
}

.memo {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.memo button {
  font-size: 1.2rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
